<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Login</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.gem.hsx.servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.gem.hsx.servlet.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Check</servlet-name>
		<servlet-class>com.gem.hsx.servlet.Check</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImgReceive</servlet-name>
		<servlet-class>com.gem.hsx.servlet.ImgReceive</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Avatar</servlet-name>
		<servlet-class>com.gem.hsx.servlet.Avatar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Info</servlet-name>
		<servlet-class>com.gem.hsx.servlet.Info</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePwd</servlet-name>
		<servlet-class>com.gem.hsx.servlet.ChangePwd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveInfo</servlet-name>
		<servlet-class>com.gem.hsx.servlet.SaveInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileInOutputStream</servlet-name>
		<servlet-class>com.gem.hsx.servlet.FileInOutputStream</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DesignerDetail</servlet-name>
		<servlet-class>com.gem.hsx.servlet.DesignerDetail</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AllProject</servlet-name>
		<servlet-class>com.gem.hsx.servlet.AllProject</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Works</servlet-name>
		<servlet-class>com.gem.hsx.servlet.Works</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>WorkDetail</servlet-name>
		<servlet-class>com.gem.hsx.servlet.WorkDetail</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Project</servlet-name>
		<servlet-class>com.gem.hsx.servlet.Project</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LaunchProject</servlet-name>
		<servlet-class>com.gem.hsx.servlet.LaunchProject</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SaveStyle</servlet-name>
		<servlet-class>com.gem.hsx.servlet.SaveStyle</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Style</servlet-name>
		<servlet-class>com.gem.hsx.servlet.Style</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeState</servlet-name>
		<servlet-class>com.gem.hsx.servlet.ChangeState</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateProject</servlet-name>
		<servlet-class>com.gem.hsx.servlet.UpdateProject</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchDesigner</servlet-name>
		<servlet-class>com.gem.hsx.servlet.SearchDesigner</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchDesigner</servlet-name>
		<url-pattern>/SearchDesigner</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UpdateProject</servlet-name>
		<url-pattern>/UpdateProject</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ChangeState</servlet-name>
		<url-pattern>/ChangeState</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Style</servlet-name>
		<url-pattern>/Style</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SaveStyle</servlet-name>
		<url-pattern>/SaveStyle</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LaunchProject</servlet-name>
		<url-pattern>/LaunchProject</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Project</servlet-name>
		<url-pattern>/Project</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>WorkDetail</servlet-name>
		<url-pattern>/WorkDetail</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Works</servlet-name>
		<url-pattern>/Works</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DesignerDetail</servlet-name>
		<url-pattern>/DesignerDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllProject</servlet-name>
		<url-pattern>/AllProject</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllDesigner</servlet-name>
		<servlet-class>com.gem.hsx.servlet.AllDesigner</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllDesigner</servlet-name>
		<url-pattern>/AllDesigner</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Check</servlet-name>
		<url-pattern>/Check</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImgReceive</servlet-name>
		<url-pattern>/ImgReceive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Avatar</servlet-name>
		<url-pattern>/Avatar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Info</servlet-name>
		<url-pattern>/Info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePwd</servlet-name>
		<url-pattern>/ChangePwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveInfo</servlet-name>
		<url-pattern>/SaveInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileInOutputStream</servlet-name>
		<url-pattern>/FileInOutputStream</url-pattern>
	</servlet-mapping>

</web-app>